/* CSS Document */
@charset 'utf-8';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(../images/fontello/css/font-icons.css);
@import url(../images/fontello/css/font-icons-ie7.css);
/* normalize.css v1.0.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}p,pre{margin:1em 0;}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:'';content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}dl,menu,ol,ul{margin:1em 0;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
/* elements */
html,button,input,select,textarea{font-family:'Source Sans Pro',sans-serif;}
body{font-size:15px;line-height:1.4;color:#000;text-align:center;background:#7a603d url(../images/bg/02.jpg) top;}
a{color:#ffab00;cursor:pointer;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;}
h1{font-size:28px;color:#ffab00;font-weight: normal;font-family: 'PT Serif',serif;}
h2{font-size:24px;color:#ffab00;font-weight: normal;font-family: 'PT Serif',serif;}
h3{font-size:18px;}
h4{font-size:14px;}
p{margin:0 0 20px 0;}
ul,ol{padding:0;margin:0 0 20px 20px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ol{list-style:decimal;}
ul li{position:relative;list-style-type:none;padding:0 0 0 20px;margin:0;}
ul li:before,ul li .before{position:absolute;top:0;left:0;content:'\e808';font-family: "font-icons";color: #dbc392;*zoom: expression(this.runtimeStyle['zoom']='1',this.innerHTML='\2022');}
ul ul{padding:10px 0;}
ol li{margin:0 0 0 20px;}
ol ol{padding: 10px 0;}
hr{margin:0 0 20px 0;border:0;border-top:1px solid #f4edde;}
strong{font-weight:bold;}
em{font-style:italic;}
sup,sub{position: relative;vertical-align:baseline;font-size:60%;line-height:1;}
sup{bottom:1.4ex;}
sub{top:.7ex;}
/* classes */
.r{text-align:right!important;}
.c{text-align:center!important;}
.l{text-align:left!important;}
.j{text-align:justify!important;}
.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
.nodisplay{display:none;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.block{display:block;}
/* xart.classes */
nav.more{text-align:right;margin:0 0 20px 0;}
nav.more a{padding:0 16px 0 0;background:url(../images/arr/01.png) no-repeat right;}
nav.more a:after{text-decoration: none;padding: 0 0 0 10px;display: inline-block;content: '\e803';font-family: "font-icons";}
table.normal{margin:0 0 20px 0;width:100%;background:#fffbf2;}
table.normal th,table.normal td{padding:6px 8px;border-top:1px solid #f4edde;border-bottom:1px solid #f4edde;font-weight:normal;}
table.normal.compact th,table.normal.compact td{padding:2px 8px;}
table.normal tr:nth-child(odd) td{background:#fff6e3;}
table.normal th,table.normal thead td{font-weight:bold;background:#ffecc5!important;}
table.normal tfoot td{background:#ffecc5!important;}
table.info{margin:0 0 20px 0;}
table.info td,table.info th{padding:0 7px 0 0;}
form.normal{margin:0 0 20px 0;}
form.normal label{display:block;margin:0 0 10px 0;font-weight:bold;}
form.normal .optgroup label{display:inline;font-weight:normal;}
form.normal input[type=text],form.normal input[type=email],form.normal input[type=password],form.normal textarea,form.normal select{position:relative;border:1px solid #f4edde;font-size:13px;line-height:18px;margin:0 3px 5px 0;width:198px;height:18px;padding:4px 10px;color:#000;background:#fff;}
form.normal input.input-mini{width:25px;padding-left:0;padding-right:0;text-align:center;}
form.normal input.input-small{width:125px;}
form.normal input.input-large{width:300px;}
form.normal textarea{padding:10px;width:auto;height:auto;}
form.normal select{width:auto;height:auto;padding:4px;}
form.normal input[type=text]:hover,form.normal input[type=email]:hover,form.normal input[type=password]:hover,form.normal textarea:hover,form.normal select:hover,
form.normal input[type=text]:focus,form.normal input[type=email]:focus,form.normal input[type=password]:focus,form.normal textarea:focus,form.normal select:focus{border-color:#ffab00;}
form.normal .fileinputs{position:relative;overflow:hidden;display:inline-block;cursor:default;}
form.normal .fileinputs input.type-file{position:absolute;top:-10px;right:-10px;margin:0;padding:0;border:0;width:auto!important;font-size:999px;z-index:1;cursor:default;-webkit-opacity:0;-moz-opacity:0;opacity:0;filter:alpha(opacity=0);}
.normal-button{position:relative;top:0;margin:0 0 5px 0;padding:0;border:0;height:30px;padding:0 15px;color:#fff;text-align:center;overflow:visible;font-size:14px;background:#dbc392;cursor:pointer;white-space:nowrap;text-transform:uppercase;font-weight:normal;font-family: 'PT Serif',serif;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
a.normal-button{display:inline-block;text-decoration:none;line-height:30px;}
.normal-button:hover,.fileinputs:hover .normal-button{background-color:#ffab00;}
.search-results .highlight,.results .highlight{background:yellow;padding:0 3px;color:#000;}
.pagehub{clear:both;text-align:center;padding:20px 0;border-top: 1px solid #f4edde;}
.pagehub a,.pagehub span{position:relative;display:inline-block;width:28px;height:28px;line-height:28px;text-align:center;text-decoration:none;font-size:16px;color:#fff;background:#dbc392;font-family: 'PT Serif',serif;-webkit-border-radius:14px;-moz-border-radius:14px;border-radius:14px;}
.pagehub span.pagenav{background:#ffab00;}
.pagehub a:hover{background:#ffab00;}
.pagehub span.pagenav-ico{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.clear-decor,.description_separator,.article_separator{clear:both;background: url(../images/ico/02.png) no-repeat center;margin:0 0 20px 0;height:20px;overflow:hidden;border-top: 1px solid #f4edde;}
img.img-left,img[align=left]{float:left;margin:0 15px 5px 0;}
img.img-right,img[align=right]{float:right;margin:0 0 5px 15px;}
a.xeditorpopup img{border:1px solid #ffab00;padding: 3px;}
a.xeditorpopup:hover img{border-color:#f4edde;}
.mod_breadcrumbs ul{margin:0 0 25px 0;padding:0;}
.mod_breadcrumbs ul li{margin:0 6px 0 0;padding:0 0 0 12px;color: #dbc392;font-size: 13px;display:inline;background-position:left;}
.mod_breadcrumbs ul li a{color: #dbc392;}
#system-message dt{display:none;}
#system-message .message ul{margin:0;padding:0;}
#system-message .message ul li{margin:0;padding:0;background:none;}
#system-message .message ul li:before{display: none;}
#system-message .message{padding:8px 14px;margin:0 0 15px 0;border:1px solid #f4edde;color:#000;}
#system-message .notice{background-color:#fff;border-color:#ffab00;color:#ffab00;}
#system-message .warning,#system-message .error{background-color:#ffab00;border-color:#ffab00;color:#fff;}
/* layout */
#wrapper{min-width: 1000px;background: url(../images/bg/01.jpg) repeat-x top;}
#col-top{*zoom:1;position: relative;z-index: 1;width:1000px;margin: auto;padding: 22px 0 17px;text-align: left;background: url(../images/bg/03.png) no-repeat bottom;}
#col-top:before,#col-top:after{display:table;content:"";}
#col-top:after{clear:both;}
#col-top .phone{float: right;font-size: 17px;line-height: 1;font-weight: bold;color: #fff2d9;padding: 0 22px 0 0;letter-spacing: 3px;text-shadow: -1px -1px 0 rgba(0,0,0,0.6);font-family: 'PT Serif',serif;}
#col-top .phone:before{position: relative;top:1px;content: '\e800';font-weight: normal;margin: 0 9px 0 0;font-family: "font-icons";}
#container{position: relative;width: 1000px;margin: auto;text-align: left;background: #fff;-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);box-shadow: 0 0 10px rgba(0,0,0,0.5);}
#logo {padding: 32px 0 45px;text-align: center;font-size: 17px;line-height: 1;margin: 0 320px;font-family: 'PT Serif',serif;background: url(../images/ico/01.png) no-repeat center 4px;}
#logo a{display: block;color: #a3a3a3;text-decoration: none;}
#logo span{display: block;margin: auto;letter-spacing: 3px;}
#logo mark{display: block;margin: auto;color: #ffab00;font-size: 28px;letter-spacing: 3px;padding: 22px 0 0;background: none;text-transform: uppercase;}
#home-cols{*zoom:1;padding: 0 10px;margin: 0 0 40px;}
#home-cols:before,#home-cols:after{display:table;content:"";}
#home-cols:after{clear:both;}
#home-cols .col{float: left;width: 260px;margin: 0 0 0 50px;}
.container-bottom{clear: both;margin:  0 40px;height: 82px;background: url(../images/ico/02.png) no-repeat center;border-top: 1px solid #f4edde;}
#page-footer{*zoom:1;padding: 25px 0;width: 1000px;margin: auto;text-align: left;color: #dbc392;font-size: 13px;line-height: 1.3;}
#page-footer:before,#page-footer:after{display:table;content:"";}
#page-footer:after{clear:both;}
#page-footer a{color: #dbc392;}
#page-footer .copy{width: 580px;float: left;}
#page-footer .xart{padding: 19px 0 0;width: 280px;float: right;text-align: right;text-transform: uppercase;font-size: 11px;line-height: 1;}
#page-footer .xart img{float: right;margin: -4px -4px 0 12px;}
#page-footer .xart a{color: #e6d5b2;text-decoration: none;}
#col-main{width: 640px;margin: 0 40px 0 0;float: right;}
#col-left{width: 230px;margin: 0 0 0 40px;float: left;}
#col-title{padding: 25px 20px 19px;margin: 0 40px 56px;border-bottom: 1px solid #f4edde;}
#col-title h1{font-size:24px;margin: 0;line-height: 1.2;color:#ffab00;font-weight: normal;text-transform: uppercase;font-family: 'PT Serif',serif;}
/* mods */
.mod_menu-main {margin: 0 40px 23px;border-top: 1px solid #f4edde;border-bottom: 1px solid #f4edde;}
.mod_menu-main ul{margin: 0;padding: 0;text-align: center;}
.mod_menu-main li{position: relative;top:-2px;margin: 0;padding: 0 38px;*display: inline;display: inline-block;font-family: 'PT Serif',serif;}
.mod_menu-main li:before{display: none;}
.mod_menu-main li a{position: relative;display: inline-block;line-height: 58px;padding: 3px 0 0;text-decoration: none;text-transform: lowercase;color: #000;white-space: nowrap;border-top: 3px solid transparent;}
.mod_menu-main li a:hover{color: #ffab00;}
.mod_menu-main li.act a{color: #ffab00;border-top-color: #ffab00;}
.mod_custom-slideshow ul{margin: 0;padding: 0;height: 440px;background: #000;overflow: hidden;}
.mod_custom-slideshow li{position: relative;margin: 0;padding: 0;}
.mod_custom-slideshow li img{display: block;}
.mod_custom-slideshow li:before{display: none;}
.mod_custom-slideshow .caption{position: absolute;bottom: 0;left:0;padding: 20px 0;text-align: center;font-style: italic;width: 100%;font-family: 'PT Serif',serif;background: #dbc392;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiYzM5MiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RiYzM5MiIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmMzOTIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(left,  rgba(219,195,146,0) 0%, rgba(219,195,146,0.95) 50%, rgba(219,195,146,0) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,195,146,0)), color-stop(50%,rgba(219,195,146,0.95)), color-stop(100%,rgba(219,195,146,0)));background: -webkit-linear-gradient(left,  rgba(219,195,146,0) 0%,rgba(219,195,146,0.95) 50%,rgba(219,195,146,0) 100%);background: -o-linear-gradient(left,  rgba(219,195,146,0) 0%,rgba(219,195,146,0.95) 50%,rgba(219,195,146,0) 100%);background: -ms-linear-gradient(left,  rgba(219,195,146,0) 0%,rgba(219,195,146,0.95) 50%,rgba(219,195,146,0) 100%);background: linear-gradient(to right,  rgba(219,195,146,0) 0%,rgba(219,195,146,0.95) 50%,rgba(219,195,146,0) 100%);}
.lt-ie9 .mod_custom-slideshow .caption{background: #dbc392;}
.mod_custom-slideshow .caption p{margin: 0;}
.mod_custom-slideshow .pager{text-align: center;font-size: 52px;line-height: 1;color: #dbc392;padding: 3px 0;text-shadow: -1px -1px 0 rgba(0,0,0,0.7);}
.mod_custom-slideshow .pager span{cursor: pointer;}
.mod_custom-slideshow .cycle-pager-active{color: #a18857;}
.mod_custom-intro{text-align: center;padding: 10px 150px;margin: 0 0 92px;line-height: 1.6;font-style: italic;font-family: 'PT Serif',serif;background: url(../images/ico/02.png) no-repeat bottom;}
.mod_custom-banner{margin: 0 0 15px;}
.mod_custom-banner figure img{display: block;border:10px solid #fff;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);box-shadow: 0 0 6px rgba(0,0,0,0.3);-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-banner figure a:hover img{-webkit-opacity: 0.8;-moz-opacity: 0.8;opacity: 0.8;filter:alpha(opacity=80);}
.mod_custom-banner nav a{position: relative;display: block;padding: 20px 10px;text-decoration: none;color: #000;font-style: italic;line-height: 1;font-family: 'PT Serif',serif;}
.mod_custom-banner nav a:hover{color: #ffab00;}
.mod_custom-banner nav a:after{position: absolute;top:19px;right:10px;color: #ffab00;font-size: 19px;font-style: normal;content: '\e803';font-family: "font-icons";-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-banner nav a:hover:after{color: #dbc392;}
#col-left .mod_custom-links{padding-bottom: 5px;margin-bottom: 25px;border-bottom: 1px solid #f4edde;}
.mod_custom-links ul{margin: -5px 0 20px;padding: 0;}
.mod_custom-links li{margin: 0 0 5px;padding: 0;}
.mod_custom-links li:before{display: none;}
.mod_custom-links li a{display: block;height: 62px;line-height: 62px;font-size: 17px;text-transform: uppercase;text-decoration: none;margin: 0 -6px 0 0;padding: 0 0 0 10px;font-family: 'PT Serif',serif;background: url(../images/bg/04.png) no-repeat right top;}
.mod_custom-links li a:hover{background-position: right bottom;}
.mod_newsflash_xart {padding: 0 0 25px;margin: 0 0 30px;border-bottom: 1px solid #f4edde;}
.mod_newsflash_xart .mod-title{font-size: 21px;line-height: 1;color: #ffab00;margin: 0 50px 15px 0;text-transform: uppercase;font-family: 'PT Serif',serif;}
.mod_newsflash_xart time{display: block;font-size: 16px;line-height: 1;color: #dbc392;padding: 0 0 8px;margin: 0 0 17px;border-bottom: 1px solid #f4edde;font-family: 'PT Serif',serif;}
.mod_newsflash_xart figure img{float: right;display: block;margin: 5px 5px 5px 10px;border:6px solid #fff;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);box-shadow: 0 0 6px rgba(0,0,0,0.3);-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_newsflash_xart figure a:hover img{-webkit-opacity: 0.8;-moz-opacity: 0.8;opacity: 0.8;filter:alpha(opacity=80);}
.mod_newsflash_xart section{clear: both;}
.mod_newsflash_xart article{font-size: 15px;line-height: 1.6;width: 100%;}
.mod_newsflash_xart article h2{font-size: 15px;line-height: 1.6;margin: 0 0 5px;font-weight: normal;font-family: inherit;color: #ffab00;}
.mod_newsflash_xart article p{margin: 0 0 13px;}
.mod_newsflash_xart nav{text-transform: uppercase;font-family: 'PT Serif',serif;}
.mod_newsflash_xart nav a{display: inline-block;text-decoration: none;}
.mod_newsflash_xart nav a:hover{text-decoration: underline;}
.mod_newsflash_xart nav a:after{display: inline-block;padding: 0 0 0 8px;content: '\e808';color: #dbc392;font-family: "font-icons";text-decoration: none;}
.mod_newsflash_xart .arr{float: right;width: 60px;text-align: right;}
.mod_newsflash_xart .prev,.mod_newsflash_xart .next{font-size: 19px;line-height: 1;color: #dbc392;font-family: "font-icons";-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_newsflash_xart .next{margin: 0 0 0 10px;}
.mod_newsflash_xart .prev:hover,.mod_newsflash_xart .next:hover{color: #ffab00;}
.mod_custom-facebook{margin: 0 0 20px;}
#col-left .mod_custom-facebook {padding-bottom: 20px;padding-left: 20px;border-bottom: 1px solid #f4edde;}
.mod_custom-facebook a{position: relative;display: block;font-size: 17px;line-height: 1.4;text-decoration: none;font-family: 'PT Serif',serif;text-transform: uppercase;padding: 0 0 0 50px;}
.mod_custom-facebook a:before{display: block;position: absolute;left: 0;top: 4px;padding: 4px 0 0;width: 38px;height: 34px;line-height: 34px;text-align: center;font-size: 21px;content: '\e805';color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.5);background: #e6d5b2;font-family: "font-icons";text-decoration: none;-webkit-border-radius: 19px;-moz-border-radius: 19px;border-radius: 19px;}
.mod_custom-facebook a:after{display: inline-block;padding: 0 0 0 8px;content: '\e808';color: #dbc392;font-family: "font-icons";text-decoration: none;}
.mod_custom-facebook a:hover{text-decoration: underline;}
.mod_menu-sidebar {padding: 0 0 27px 20px;margin: 0 0 35px 0;border-bottom: 1px solid #f4edde;}
.mod_menu-sidebar ul{margin: 0;padding: 0;}
.mod_menu-sidebar li{margin: 0;padding: 0;}
.mod_menu-sidebar li:before{display: none;}
.mod_menu-sidebar li a{position: relative;display: block;padding: 10px 20px 10px 10px;text-decoration: none;color: #000;font-style: italic;line-height: 1;font-family: 'PT Serif',serif;}
.mod_menu-sidebar li a:hover{color: #ffab00;}
.mod_menu-sidebar li a:after{position: absolute;top:8px;right:0;color: #ffab00;font-size: 19px;font-style: normal;content: '\e803';font-family: "font-icons";-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_menu-sidebar li a:hover:after{color: #dbc392;}
